/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}
body * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.article-section-bt {
	margin-bottom: 80px;
}

.article-upper {
	position: relative;
}
.article-upper::before {
	content: "";
	position: absolute;
	display: inline-block;
	z-index: -1;
	background: url(../img/decor-large.png);
	width: 40%;
	height: 48px;
	top: 455px;
}
.article-upper__title {
	max-width: 581px;
}
.article-upper__text-first-p {
	margin-bottom: 20px;
}
.section__article-large-img {
	width: 100%;
}
.article-upper__text {
	margin-bottom: 80px;
}
.center__text {
	margin-bottom: 20px;
	max-width: 744px;
}

.center__list,
.center__list-element {
	margin-left: 0;
	max-width: 230px;
	padding: 0;
	list-style-position: inside;
}
.center__list-element {
	margin-bottom: 12px;
}
.center__list-element::marker {
	font-size: 22px;
	color: #3596ed;
}
.video {
	position: relative;
	margin-bottom: 140px;
}
.video-mb {
	margin-bottom: 40px;
}
.video__interface {
	position: relative;
}
.video__play-but {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	border: none;
	width: 62px;
	height: 60px;
	background-color: #3596ed;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background-color, 0.2s;
	transition: background-color, 0.2s;
}
.video__play-but:hover {
	background-color: #4dacff;
}
.video::before {
	content: "";
	position: absolute;
	display: inline-block;
	z-index: -1;
	background: url(../img/decor-large.png);
	width: 40%;
	right: 0;
	left: auto;
	height: 48px;
	top: 409px;
}

@media (width<=768px) {
	.video::before,
	.article-upper::before {
		display: none;
	}
	.header {
		margin-bottom: 40px !important;
	}
	.title-medium {
		font-size: 36px !important;
	}
	.article-upper__title {
		margin-top: 36px;
		font-size: 33px;
	}
	.title-mb,
	.article-upper__text,
	.article-section-bt {
		margin-bottom: 36px;
	}
}
@media (width<=576px) {
	.header {
		margin-bottom: 20px !important;
	}
	.video__play-but {
		width: 48px;
		height: 48px;
	}
	.video__play-but img {
		width: 20px;
	}
}
