.footer {
	padding: 60px 0 40px;
	background: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	text-align: center;
}
.footer__top {
	border-bottom: 1px solid #d3cbd9;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}
.footer__nav {
	display: flex;
	justify-content: center;
	gap: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer__nav a {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	transition: color 0.2s;
}
.footer__nav a:hover {
	color: #3596ed;
}
.footer__copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}
/* адаптация под маленький масштаб(телефоны) */
/*
1200px    это ноутбуки компы
992px 

768px     планшеты
576px       телефоны
360-320px     обычные и маленькие телефоны
*/
@media (width <= 765px) {
	.footer__nav {
		flex-direction: column;
		gap: 25px;
	}
}
@media (width <= 576px) {
	.footer {
		padding-top: 20px;
	}
}
