.button {
	padding: 19px 32px;
	width: 270px;
	height: 57px;
	background: #3596ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	transition: opacity, 0.2s;
	display: inline-block;
}
body {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
}
.secondary-text {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}
img {
	object-fit: cover;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
a,
button {
	outline: none;
}
.button:hover {
	opacity: 0.8;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
a {
	text-decoration: none;
}
a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}
.header {
	margin-bottom: 80px;
}
.title-big {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
.title-medium {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}
.title-mb {
	margin-bottom: 40px;
}
.title-lite {
	font-weight: 600;
	font-size: 36px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	font-family: "Oswald", sans-serif;
}
.text-low {
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	font-family: "Oswald", sans-serif;
}
@media (width <= 768px) {
	.container {
		max-width: 576px;
	}
}
