.header__inner {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d3cbd9;
}
.header__logo-link {
	text-decoration: none;
}
.header__phone-container {
	width: 240px;
	height: 45px;
	text-align: right;
}
.header__text-phone {
	text-align: right;
	margin-bottom: 8px;
}
.header__phone-link {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	transition: color 0.2s;
}
.header__phone-link:hover {
	color: #3596ed;
}
