table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 230px;
	height: 175px;
	font-family: sans-serif;
}
td,
tr,
th {
	border: 1.5px solid black;
}
.weekend {
	color: red;
}
caption {
	border: 1.5px solid black;
	border-bottom: none;
	font-weight: 1000;
}
