* {
	box-sizing: border-box;
	margin: 0;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	margin-top: 185px;
	margin-bottom: 120px;
	padding: 0 15px;
}
.title {
	font-family: "Oswald";
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	max-width: 596px;
}
.title-large {
	font-size: 48px;
}
.text-article {
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	margin-bottom: 20px;
}
.gum-img {
	margin-bottom: 80px;
	width: 100%;
}
.text-article-bt {
	margin-bottom: 80px;
}
.title-medium {
	font-size: 36px;
	margin-bottom: 40px;
}
.centr-section {
	max-width: 744px;
	margin-bottom: 80px;
}
.text-centr {
	margin-bottom: 20px;
}
.list {
	max-width: 179px;
	padding: 0;
}
.element {
	margin-left: 16px;
	margin-bottom: 12px;
}
.video {
	margin-bottom: 40px;
}
