.page-body,
.page {
	overflow-x: hidden;
	height: 100%;
}
.page {
	font-size: 10px !important;
	scroll-behavior: smooth;
}
.page-body {
	position: relative;
	min-width: 390px;
	min-height: 100svh;
	font-family: var(--main-font), sans-serif;
	color: var(--main-text-color);
	background: var(--main-bg-color);
}
.main {
	flex-grow: 1;
}
.page {
	font-family: var(--font-family);
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
	max-width: 1390px;
}
.section-padding {
	/* mx 1413 mn 390 */
	padding-top: clamp(46px, 0.397rem + 10.17vw, 150px);
	padding-bottom: clamp(46px, 0.111rem + 11.34vw, 162px);
}
/* title size */
.title-large {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(24px, 0.976rem + 2.15vw, 46px);
	line-height: 103%;
	color: var(--main-color);
}
@media (width<=768px) {
	.title-large {
		line-height: 100%;
	}
}
.title-medium {
	/* mx 1413 mn 390 */
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(20px, 0.726rem + 2.15vw, 42px);
	color: var(--main-color);
}
.title-small {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(13px, 0.646rem + 0.68vw, 20px);
	color: var(--secondary-color);
}
/* text size */
.text-large {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, -0.021rem + 1.61vw, 26px);
	line-height: 130%;
	color: var(--main-color);
}
.text-large--two {
	/* mx 1413 mn 390 */
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(12px, 0.607rem + 0.59vw, 18px);
	line-height: 140%;
	color: var(--secondary-color);
}
@media (width<=768px) {
	.text-large--two {
		font-weight: 400;
	}
}
.text-medium {
	/* mx 1413 mn 390 */
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(10px, 0.291rem + 1.37vw, 24px);
	color: var(--main-color);
}
@media (width<=768px) {
	.text-medium {
		line-height: 140%;
	}
}
