.page-body {
	min-width: 375px;
	height: 200vh;
	background-color: var(--bg-color);
}
.page {
	font-family: var(--main-family);
}
.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin: 0 auto;
}
