.page-body {
	min-width: 375px;
	height: 200vh;
	background-color: var(--bg-color);
}
.page {
	font-family: var(--font-family);
}
.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin: 0 auto;
}
.title-large {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(24px, 0.976rem + 2.15vw, 46px);
	line-height: 103%;
	color: var(--main-color);
}
@media (width<=768px) {
	.title-large {
		line-height: 100%;
	}
}

.text-large {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, -0.021rem + 1.61vw, 26px);
	line-height: 130%;
	color: var(--main-color);
}
