.advantages__title {
	margin-bottom: 60px;
}
@media (width<=950px) {
	.advantages__title {
		margin-bottom: 40px;
	}
}
@media (width<=450px) {
	.advantages__title {
		margin-bottom: 30px;
	}
}
.advantages__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
@media (width<=845px) {
	.advantages__cards {
		grid-template-columns: 1fr 1fr;
	}
}
@media (width<=541px) {
	.advantages__cards {
		grid-template-columns: 1fr;
	}
}
.advantages__card {
	box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px 25px;
}

@media (width<=541px) {
	.advantages__card {
		flex-direction: row;
		justify-content: start;
		gap: 43px;
		padding: 16px 25px;
	}
}
@media (width<=768px) {
	.advantages__card-icon {
		width: 74px;
		height: 74px;
	}
}

.advantages__card-info {
	display: flex;
	gap: 13px;
	flex-direction: column;
	text-align: center;
}
@media (width>768px) {
	.advantages__card-info {
		gap: 13px;
	}
}
@media (width<=768px) {
	.advantages__card-info {
		gap: 8px;
	}
}
.advantages__card-title {
	text-align: center;
}
.advantages__card-text {
	text-align: center;
	line-height: 130%;
}
@media (width<=541px) {
	.advantages__card-info {
		text-align: start;
	}
}
