.faq {
	background-color: var(--bg-color--2);
}
.faq__title {
	padding-bottom: 60px;
}
@media (width<=800px) {
	.faq__title {
		padding-bottom: 40px;
	}
}
.faq__question {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (width>800px) {
	.faq__question {
		gap: 52px;
		padding-bottom: 34px;
		padding-top: 34px;
	}
}
@media (width<=800px) {
	.faq__question {
		padding-bottom: 18px;
		padding-top: 18px;
	}
}
@media (width<=600px) {
	.faq__question {
		padding-bottom: 16px;
		padding-top: 16px;
		gap: 24px;
	}
}
.faq__question-svg {
	width: 36px;
	height: 36px;
	fill: var(--main-color);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
@media (width>1083px) {
	.faq__question::after {
		width: 36px;
		height: 36px;
	}
}
@media (width<=1083px) {
	.faq__question::after {
		width: 24px;
		height: 24px;
	}
}
@media (width<=709px) {
	.faq__question::after {
		width: 16px;
		height: 16px;
	}
}
.faq__details {
	overflow: hidden;
	border-top: 1px solid var(--secondary-bg-color);
}
.faq__details[open] .faq__question-svg {
	transform: rotate(45deg);
}
.faq__details[open] .faq__question-svg path {
	fill: var(--accent-color);
}
@media (any-hover: hover) {
	.faq__question-svg:hover path {
		fill: var(--accent-color);
		transition: fill var(--transition-time);
	}
}
.faq__details::details-content {
	block-size: 0;
	transition:
		block-size 1s,
		content-visibility 1s;
	transition-behavior: allow-discrete;
}
.faq__details:last-of-type {
	border-bottom: 1px solid var(--secondary-bg-color);
}

.faq__details[open]::details-content {
	block-size: auto;
}
@media (width>1083px) {
	.faq__question-text {
		max-width: 900px;
		padding-bottom: 50px;
	}
}
@media (width<=1083px) {
	.faq__question-text {
		max-width: 600px;
		padding-bottom: 20px;
	}
}
@media (width<=709px) {
	.faq__question-text {
		max-width: 350px;
		padding-bottom: 18px;
	}
}
