@media (width>768px) {
	.hidden-text {
		display: none;
		visibility: hidden;
	}
}
.hidden-text {
	background-color: var(--bg-color--2);
	/* 768mx 390mn */
	padding-top: clamp(46px, 1.972rem + 3.7vw, 60px);
	padding-bottom: clamp(46px, 1.327rem + 6.35vw, 70px);
}
.hidden-text__container {
	display: flex;
	/* 768mx 390mn */
	gap: clamp(30px, 1.23rem + 2.65vw, 40px);
	flex-direction: column;
}
.hidden-text__block {
	display: flex;
	gap: clamp(10px, 0.238rem + 1.59vw, 16px);
	flex-direction: column;
}
/* titles */
.hidden-text__block-title {
	font-family: var(--second-family);
	font-weight: 900;
	color: var(--main-color);
}
/* mx 768 mn390   */
.hidden-text__block-title--xl {
	font-size: clamp(20px, 0.863rem + 1.59vw, 26px);
}
.hidden-text__block-title--l {
	font-size: clamp(17px, 0.74rem + 1.32vw, 22px);
}
.hidden-text__block-title--md {
	font-size: clamp(16px, 0.742rem + 1.06vw, 20px);
}
.hidden-text__block-title--sm {
	font-size: clamp(15px, 0.873rem + 0.26vw, 16px);
}
.hidden-text__block-title--xs {
	font-size: clamp(13px, 0.748rem + 0.26vw, 14px);
}
/*  */
