.news__title {
	padding-bottom: 70px;
}
@media (width<=800px) {
	.news__title {
		padding-bottom: 30px;
	}
}
.news__article-container {
	display: flex;
	gap: 20px;
	justify-content: center;
}
@media (width<=600px) {
	.news__article-container {
		gap: 10px;
	}
}
@media (width<=500px) {
	.news__article-container {
		justify-content: space-between;
	}
}
.news__article {
	max-width: 440px;
}
@media (width<=768px) {
	.news__article {
		max-width: 196px;
	}
}
@media (width<=500px) {
	.news__article {
		max-width: 170px;
	}
}

.article__img {
	padding-bottom: 28px;
}
@media (width<=768px) {
	.article__img {
		width: 196px;
		height: 130px;
		padding-bottom: 12px;
	}
}
@media (width<=500px) {
	.article__img {
		padding-bottom: 10px;
		width: 170px;
		height: 113px;
	}
	.article__hidden {
		visibility: hidden;
		display: none;
	}
}
.article__date {
	padding-bottom: 20px;
	color: #909090;
	line-height: 150%;
}
@media (width<=768px) {
	.article__date {
		padding-bottom: 10px;
	}
}
@media (width<=500px) {
	.article__date {
		padding-bottom: 6px;
	}
}
.article__title {
	padding-bottom: 15px;
}
@media (width<=768px) {
	.article__title {
		padding-bottom: 6px;
	}
}
.article__text-info {
	padding-bottom: 20px;
}
@media (width<=768px) {
	.article__text-info {
		padding-bottom: 10px;
	}
}
@media (width<=500px) {
	.article__text-info {
		padding-bottom: 6px;
	}
}
