/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

.border-reviews {
	border-bottom: 1px solid var(--secondary-bg-color);
	border-top: 1px solid var(--secondary-bg-color);
}
.padding-reviews {
	padding-bottom: 40px;
	padding-top: 40px;
}
@media (width<=800px) {
	.padding-reviews {
		padding-bottom: 20px;
		padding-top: 20px;
	}
}

@media (width<=500px) {
	.reviews__title {
		margin-bottom: 16px;
	}
}
.reviews__title span {
	color: var(--accent-color);
}
.reviews__write-review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (width<=605px) {
	.reviews__write-review {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
@media (width>800px) {
	.reviews__write-review {
		gap: 70px;
	}
}
@media (width<=800px) {
	.reviews__write-review {
		gap: 102px;
	}
}

.write-review__estimation-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.write-review__estimation-number {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: clamp(16px, 0.666rem + 1.37vw, 30px);
	color: var(--main-color);
}
.write-review__estimation-number span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, 0.559rem + 0.78vw, 20px);
}
@media (width<=1111px) {
	.user-reviews__estimation--img,
	.write-review__estimation-stars--img {
		width: 120px;
	}
}
@media (width<=800px) {
	.user-reviews__estimation--img,
	.write-review__estimation-stars--img {
		width: 60px;
		height: 11px;
	}
}
@media (width<=500px) {
	.user-reviews__estimation--img,
	.write-review__estimation-stars--img {
		width: 80px;
		height: 15px;
	}
}
.write-review__button {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, 0.464rem + 1.17vw, 24px);
	color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 3px;
	padding: 10px 20px;
	-webkit-transition: border-color var(--transition-time);
	transition: border-color var(--transition-time);
	-webkit-transition: color var(--transition-time);
	transition: color var(--transition-time);
}
@media (any-hover: hover) {
	.write-review__button:hover {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}
}
.reviews__user-reviews {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
@media (width<=605px) {
	.reviews__user-reviews {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
@media (width>800px) {
	.reviews__user-reviews {
		gap: 70px;
	}
}
@media (width<=800px) {
	.reviews__user-reviews {
		gap: 102px;
	}
}
@media (width<=600px) {
	.reviews__user-reviews {
		gap: 10px;
	}
}
.user-reviews__name {
	margin-bottom: 15px;
}
@media (width<=800px) {
	.user-reviews__name {
		margin-bottom: 6px;
	}
}
.user-reviews__reviews-text-and-fails {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.user-reviews__reviews-title-text {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: clamp(12px, 0.559rem + 0.78vw, 20px);
	line-height: 150%;
	color: var(--main-color);
}
.user-reviews__reviews-text {
	padding-bottom: 20px;
	max-width: 783px;
}
@media (width<=1111px) {
	.user-reviews__reviews-text {
		max-width: 320px;
	}
}
@media (width<=800px) {
	.user-reviews__reviews-text {
		padding-bottom: 10px;
	}
}
.user-reviews__reviews-file {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
}
@media (width<=576px) {
	.user-reviews__reviews-file {
		gap: 10px;
	}
}

.user-reviews__date {
	position: absolute;
	right: 0;
	line-height: 150%;
	color: #909090;
}
