.button {
	padding: 19px 32px;
	width: 270px;
	height: 57px;
	background: #3596ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	transition: opacity, 0.2s;
	border: none;
}

.button:hover {
	opacity: 0.8;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
