.button {
	padding: 19px 32px;
	width: 270px;
	height: 57px;
	background: #3596ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	transition: opacity, 0.2s;
	border: none;
}
.container,
.section {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
a,
button {
	outline: none;
}
.button:hover {
	opacity: 0.8;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
a:focus-visible,
button:focus-visible,
summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}
.title-medium {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}
.text-low {
	font-weight: 500;
	font-size: 24px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	font-family: "Oswald", sans-serif;
}
