html {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.hero {
	margin-top: 80px;
	margin-bottom: 140px;
	position: relative;
}
.hero::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 47px;
	bottom: 106px;
	background: url(../img/decor-large.png);
	z-index: -1;
}
.container-hero {
	display: flex;
	height: 513px;

	gap: 28px;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
.hero-images {
	display: flex;
	position: relative;
}
.text-hero h1 {
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	font-family: "Oswald", sans-serif;
	margin-bottom: 40px;
}
.hero .text {
	max-width: 440px;
	margin-bottom: 140px;
}
.text-hero h1 strong {
	color: #3596ed;
}
.hero-images .text {
	text-align: center;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	border: 1px solid #535755;
	padding: 22px;
	width: 161px;
	height: 86px;
	background: rgba(255, 255, 255, 0.9);
}
.container-news h2 {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}
.card {
	border: 1px solid #d3cbd9;
	max-width: 284px;
	height: 342px;
	background: #fff;
}
.card time {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}
.card p {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #2c332f;
}
.card img {
	width: 100%;
	overflow: hidden;
	display: block;
}
.news-info time {
	margin-bottom: 8px;
	display: inline-block;
}
.news-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}
.footer-news {
	padding: 0 20px 20px;
	display: flex;
	gap: 8px;
	margin-top: auto;
}
.news-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #3596ed;
	transition: opacity, 0.2s;
	display: flex;
	align-items: center;
	gap: 8px;
}
.news-link::after {
	content: "";
	display: inline-block;
	width: 22px;
	height: 9px;
	background-image: url(../img/arow-right.svg);
	transition: transform, 0.3s;
}
.news-link:hover::after {
	transform: translateX(5px);
}
.news {
	margin-bottom: 140px;
}
.cards {
	display: flex;
	gap: 28px;
	justify-content: space-between;
	flex-wrap: wrap;
}
details {
	margin-bottom: 20px;
	border-block: 1px solid #d3cbd9;
}
.container-faq {
	display: flex;
	gap: 28px;
}
.faq {
	margin-bottom: 140px;
	position: relative;
}
.container-faq-img .title-medium {
	margin-bottom: 40px;
}
details[open] summary::after {
	transform: rotate(180deg);
}
summary {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 20px;
	cursor: pointer;
}
summary::after {
	display: inline-block;
	content: "";
	width: 17px;
	height: 22px;
	background: url(../img/arow-down.svg);
	transition: transform 0.3ms ease;
}
details p {
	padding: 0px 20px 20px 20px;
}
.faq::before {
	position: absolute;
	display: inline-block;
	content: "";
	background: url(../img/decor-large.png);
	height: 48px;
	width: 40%;
	z-index: -1;
	bottom: 215px;
}
